#### Mutable Sequence

#### 1. List

List is similar as tuple but they are mutable

In [1]:
my_empty_list = []
my_empty_list

[]

In [2]:
my_empty_list1 = list()
my_empty_list1

[]

In [3]:
my_empty_list2 = [1, 2, 3]
my_empty_list2

[1, 2, 3]

In [5]:
my_empty_list3 = list((1, 2, 3))
my_empty_list3

[1, 2, 3]

In [6]:
my_empty_list4 = list((4, 'python', 2.111))
my_empty_list4

[4, 'python', 2.111]

A common mistake

In [7]:
my_empty_list5 = list('hello')
my_empty_list5

['h', 'e', 'l', 'l', 'o']

In [9]:
my_empty_list5 = list(['hello'])
my_empty_list5

['hello']

In [10]:
my_empty_list5 = ['hello']
my_empty_list5

['hello']

List Methods

##### A. Append

In [11]:
my_empty_list3

[1, 2, 3]

In [12]:
my_empty_list3.append(4)
my_empty_list3

[1, 2, 3, 4]

In [14]:
#It will raise an error because tuples are immutable
my_tuple = (1, 2, 3)
my_tuple.append(4)
my_tuple

AttributeError: 'tuple' object has no attribute 'append'

##### B. Count

In [15]:
my_list = [1, 1, 2, 3, 'python', 'Java', 2,3, 'Python', 'python', 'sql', 1, 1]

my_list.count(1)

4

In [16]:
my_list.count('python')

2

##### Other methods

In [18]:
my_list

[1, 1, 2, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1, 1]

In [19]:
# removes the right most element from the list
my_list.pop()

1

In [20]:
my_list

[1, 1, 2, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1]

In [21]:
# Pop an element from a certain position
my_list.pop(2)

2

In [22]:
my_list

[1, 1, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1]

In [23]:
#Insert an element at a certain position
my_list.insert(2, 20)
my_list

[1, 1, 20, 3, 'python', 'Java', 2, 3, 'Python', 'python', 'sql', 1]

In [25]:
#Reverse your list in order
my_list.reverse()
my_list

[1, 'sql', 'python', 'Python', 3, 2, 'Java', 'python', 3, 20, 1, 1]

In [28]:
#Sort your list in increasing order
my_list = [1, 100, 2, 200, -1, -100]
my_list.sort()
my_list

[-100, -1, 1, 2, 100, 200]

In [31]:
#append a list to a list
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]

# we expect [1, 2, 3, 4, 5, 6]

my_list1.append(my_list2)
my_list1

[1, 2, 3, [4, 5, 6]]

In [32]:
#Extend
my_list1 = [1, 2, 3]
my_list2 = [4, 5, 6]

# we expect [1, 2, 3, 4, 5, 6]

my_list1.extend(my_list2)
my_list1

[1, 2, 3, 4, 5, 6]

In [33]:
my_list = list((90, 56, 76, 34, 12, 10))
my_list

[90, 56, 76, 34, 12, 10]

In [39]:
#smallest element of list, largest element, sum of list, size of list

min(my_list), max(my_list), sum(my_list), len(my_list)

(10, 90, 278, 6)

#### 2. Bytearrays

In [41]:
bytearray()

bytearray(b'')

In [42]:
bytearray(10)

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

In [45]:
language = bytearray(b'Python')
language

bytearray(b'Python')

In [46]:
language.replace(b'P', b'C')

bytearray(b'Cython')

In [47]:
language.endswith(b'on')

True

In [48]:
language.endswith(b'in')

False

In [49]:
language.upper()

bytearray(b'PYTHON')

#### 3. Set Types

Unordered collection of mutable objects

In [50]:
my_set = set()
my_set

set()

In [51]:
my_set.add(20)
my_set

{20}

In [52]:
my_set.add(30)
my_set

{20, 30}

In [53]:
my_set.add(40)
my_set

{20, 30, 40}

In [54]:
my_set.add(50)
my_set

{20, 30, 40, 50}

In [55]:
10 in my_set

False

In [56]:
my_set2 = {10, 11, 18, 20, 25, 30}
my_set2

{10, 11, 18, 20, 25, 30}

In [57]:
#Union of two sets
my_set | my_set2

{10, 11, 18, 20, 25, 30, 40, 50}

In [58]:
#Intersection of two sets

my_set & my_set2

{20, 30}

In [59]:
#difference of two sets
my_set - my_set2

{40, 50}

In [60]:
my_set

{20, 30, 40, 50}

In [62]:
# set only contains unique items
my_set.add(20)
my_set

{20, 30, 40, 50}

#### 4. Dictionaries

In [63]:
my_first_dictionary = {'John' : 34, 'James' : 36, "Mary" : 30, "Ravi" : 45}
my_first_dictionary

{'John': 34, 'James': 36, 'Mary': 30, 'Ravi': 45}

In [64]:
my_second_dictionary = { 34 : 'John', 36 : 'James'}
my_second_dictionary

{34: 'John', 36: 'James'}

In [65]:
my_third_dictionary = {'my_first_list' : [1, 2, 3], "my_second_list" : [4, 5, 6]}
my_third_dictionary

{'my_first_list': [1, 2, 3], 'my_second_list': [4, 5, 6]}

In [67]:
#Remember I had already declared a set earlier
my_set

{20, 30, 40, 50}

In [66]:
my_third_dictionary['my_first_set'] = my_set
my_third_dictionary

{'my_first_list': [1, 2, 3],
 'my_second_list': [4, 5, 6],
 'my_first_set': {20, 30, 40, 50}}

In [68]:
my_third_dictionary['my_first_tuple'] = ('Python', 'python', 1, 2)
my_third_dictionary

{'my_first_list': [1, 2, 3],
 'my_second_list': [4, 5, 6],
 'my_first_set': {20, 30, 40, 50},
 'my_first_tuple': ('Python', 'python', 1, 2)}

In [69]:
my_third_dictionary['integer'] = 45
my_third_dictionary['name'] = "my unique dictionary"

my_third_dictionary

{'my_first_list': [1, 2, 3],
 'my_second_list': [4, 5, 6],
 'my_first_set': {20, 30, 40, 50},
 'my_first_tuple': ('Python', 'python', 1, 2),
 'integer': 45,
 'name': 'my unique dictionary'}

In [70]:
#will replace the existing key. A dictionary cannot have two keys with the same name and type
my_third_dictionary['name'] = "my dictionary"
my_third_dictionary

{'my_first_list': [1, 2, 3],
 'my_second_list': [4, 5, 6],
 'my_first_set': {20, 30, 40, 50},
 'my_first_tuple': ('Python', 'python', 1, 2),
 'integer': 45,
 'name': 'my dictionary'}

In [71]:
# number of key and value pairs
len(my_third_dictionary)

6

In [72]:
#perfrom search operation within keys. Not allowed within values directly
1 in my_third_dictionary

False

In [73]:
'integer' in my_third_dictionary

True

In [75]:
#List down all the keys of dictionary

my_third_dictionary.keys()

dict_keys(['my_first_list', 'my_second_list', 'my_first_set', 'my_first_tuple', 'integer', 'name'])

In [76]:
#List down all the values of dictionary 
my_third_dictionary.values()

dict_values([[1, 2, 3], [4, 5, 6], {40, 50, 20, 30}, ('Python', 'python', 1, 2), 45, 'my dictionary'])

In [77]:
#List all the items of dictionary
my_third_dictionary.items()

dict_items([('my_first_list', [1, 2, 3]), ('my_second_list', [4, 5, 6]), ('my_first_set', {40, 50, 20, 30}), ('my_first_tuple', ('Python', 'python', 1, 2)), ('integer', 45), ('name', 'my dictionary')])

In [78]:
my_dictionary = {'':3}
my_dictionary

{'': 3}

In [80]:
None