#### In python everything is an object and whenever we initialize and object is created with its value, id and type

In [11]:
a = 3
id(a), type(a), a

(140715711751360, int, 3)

Above we got the id of a, type of a and value of a

### Data Types

#### 1. Integers

In [13]:
a = 14
b = 3
c = 100
d = -6700
e = 0

In [14]:
a + b, a - b, a * c, a/b

(17, 11, 1400, 4.666666666666667)

#### 2. Booleans

In python, True and False are two keywords used to represent truth value.

In [15]:
int(True), int(False)

(1, 0)

In [16]:
not True

False

In [17]:
True and True

True

In [18]:
True and False

False

In [19]:
False or False

False

In [20]:
False or True

True

#### 3. Real Numbers

In [21]:
pi = 3.1410874937
radius = 3.2

area = pi * (radius **2)

area

32.16473593548801

#### 4. String or Bytes

In [23]:
str1 = "We are learning python basics"
str2 = "Python is an interpreted language"
str3 = "I like python"

In [24]:
print(str3)

I like python

In [25]:
len(str1)

29

#### 5. Tuples

Immutable sequence type objects

In [27]:
my_first_tuple = ()

In [29]:
type(my_first_tuple), id(my_first_tuple)

(tuple, 140715691593808)

In [30]:
my_first_tuple = (4, 5)

In [31]:
type(my_first_tuple), id(my_first_tuple)

(tuple, 140715115509472)

In [32]:
my_first_tuple = (4, 'python')
my_first_tuple

(4, 'python')

In [34]:
my_first_tuple = (4, 'python', 9.01000000000000000000000000004)
my_first_tuple

(4, 'python', 9.01)

In [35]:
my_first_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [36]:
my_first_tuple = (5, 'python', 9.01000000000000000000000000004)
my_first_tuple

(5, 'python', 9.01)

In [37]:
my_second_tuple = (2, 3, 4, 6, 8, 9, 10)
my_second_tuple

(2, 3, 4, 6, 8, 9, 10)

In [38]:
#Let me do a search

5 in my_second_tuple

False

In [39]:
10 in my_second_tuple

True