In [3]:
employees = ['Ankit', 'Shashank', 'Tom', 'Bishal', 'Avi', 'Dinesh', 'shreyas', 'karan', 'Rock', 'Krsna']
employees

['Ankit',
 'Shashank',
 'Tom',
 'Bishal',
 'Avi',
 'Dinesh',
 'shreyas',
 'karan',
 'Rock',
 'Krsna']

In [2]:
salaries = (50000, 60000, 75000, 55000, 80000, 40000, 90000, 65000, 45000, 55000)
salaries

(50000, 60000, 75000, 55000, 80000, 40000, 90000, 65000, 45000, 55000)

In [6]:
ratings = (4.5, 4.2, 5.5, 4.0, 4.9, 6, 4.7, 4.3, 7.9, 9)
ratings

(4.5, 4.2, 5.5, 4.0, 4.9, 6, 4.7, 4.3, 7.9, 9)

In [7]:
new_salaries = {}

In [8]:
for i in range(len(employees)):
    rating = ratings[i]
    salary = salaries[i]
    if rating >= 0 and rating < 3:
        new_salary = salary
    elif rating >= 3 and rating < 5:
        new_salary = salary * 1.03
    elif rating >= 5 and rating < 7:
        new_salary = salary * 1.05
    elif rating >= 7 and rating < 9:
        new_salary = salary * 1.07
    else:
        new_salary = salary * 1.07 + salary * 0.1
    new_salaries[employees[i]] = new_salary

In [9]:
print(new_salaries)

{'Ankit': 51500.0, 'Shashank': 61800.0, 'Tom': 78750.0, 'Bishal': 56650.0, 'Avi': 82400.0, 'Dinesh': 42000.0, 'shreyas': 92700.0, 'karan': 66950.0, 'Rock': 48150.0, 'Krsna': 64350.0}